#home {
  background-repeat: repeat;
}

.objectives-text {
  font-size: 16px;
  color: #eeeeee;
  font-family: 'Montserrat';
}

.objectives-heading {
  font-family: 'Montserrat';
}

.main-body {
  background-image: linear-gradient(to right, #06131F 0%, #365168 100%);
  /*background: url("linear-gradient(to right, #243949 0%, #517fa4 100%)") !important;*/
  /*background-color: inherit;*/
}

.card.card-objectives {
  background-color: transparent;
  border: 2px solid grey;/*#F5DEB3*/
  box-shadow: 0 0 10px rgba(231,193,111,0.5);
}

.col.col-md-3.col-sm-6.col-xs-12.info-box {
  box-shadow: 0 0 10px rgba(140,84,84,0.5);
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.awards-box {
    margin-bottom:10px;
    margin-top:10px;
}